body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
    background-image: url(background_transparent.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover
}
.container #login-row #login-column #login-box {
    max-width: 500px;
    padding: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    border:1px solid #ff0000
}
.logo{
    width: 120px;
}
.text-red{
    font-size: 12px;
    color: #ff0000;
    font-style: italic
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
.form-control{
    border-radius: 50em !important;
    border: 1px solid #ff0000
}
.btn {
    border-radius: 50em !important;
}
.input-group-text{
    background: none !important;
    border: none
}
.icons{
    height: 20px;
}
td{
    padding: 5px !important;
    font-size: 12px;
}